@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #DCE1DE;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    
    .nav {
        display: flex;
        flex-direction: column;
        padding: 20px 300px;
        width: 50%;

        .items {
            display: flex;
            justify-content: space-around;
            background-color: #DCE1DE;
            font-size: 20px;
            
            li {
                list-style: none;
                
                a {
                    text-decoration: none;
                    color: #216869;
                    
                    &:visited {
                        color: #216869;
                    }

                    &:hover {
                        color: #49A078;
                        transition: all 0.18s ease-in-out;
    
                    }
                }
            }
        }

        hr {
            margin-top: 20px;
            border: 0.5px solid #216869;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;

        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 20px;
        }

        hr {
            margin-top: 30px;
            margin-bottom: 20px;
            width: 30%;
            border: 0.5px solid #216869;
        }

        li {
            list-style: none;
            font-size: 20px;
            padding: 5px;
        }

        a {
            text-decoration: none;
            color: #216869;
            
            &:visited {
                color: #216869;
            }

            &:hover {
                color: #49A078;
                transition: all 0.18s ease-in-out;

            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
        hr {
            margin-bottom: 10px;
            width: 30%;
            border: 0.5px solid #216869;
        }
        
        .copyright {
            font-size: 15px;
            font-weight: 500;
        }
    }
}

@media (max-width: 600px) {
    .container {
        nav {
            .items {

                li {
                    padding: 0px 10px;
                }
            }
        }

        section {
            text-align: center;
            padding: 10px 20px;
            
            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 17px;
            }

            p {
                font-size: 18px;
                text-align: center;
            }
        }
    }
} 